/* You can add global styles to this file, and also import other style files */

.vh-25 {
    height: 25vh;
}

.vh-15 {
    height: 15vh;
}

.portfolio-scale-image {
    height: 100%;
    width: 100%;
}